h1
{
    color:pink;

    font-size: 3ch;

}

body
{
    background-image:url('../images/bakcground2.png');

    background-repeat:no-repeat;
    
    background-position:center;

    color: rgb(205, 216, 44);

    font-size: 2ch;

    margin: 0 auto; 

    text-align: center;

    line-height: normal;

    justify-items: center;

    justify-content: center;

    align-items: center;
}

.button1 {
    
    background-color: rgba(236, 44, 172, 0.911); 
   
    color: black; 
    
    border: 1px solid hsl(310, 39%, 49%);
}

.button1:hover {
   
    background-color: #8b4caf;
    
    color: white;

    border: 1px solid hsl(310, 39%, 49%);
}

